<nav id="sidebar">
    <div class="sidebar-header">
        <h3>DASHBOARD</h3>
    </div>
    <ul class="list-unstyled components">
        <p>See Your Items</p>
        <li class="active">
            <a href="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle fw-bold">Products</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="/admin/products/Read">Read</a></li>
                <li><a href="/admin/products/Add">Add</a></li>
            </ul>
        </li>
        
        <li>
            <a href="#categoriesSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle fw-bold">Categories</a>
            <ul class="collapse list-unstyled" id="categoriesSubmenu">
                <li><a href="/admin/categories/Read">Read</a></li>
                <li><a href="/admin/categories/Add">Add</a></li>
            </ul>
        </li>

        <li>
            <a href="#ordersSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle fw-bold">Orders</a>
            <ul class="collapse list-unstyled" id="ordersSubmenu">
                <li><a href="/admin/orders/read">Read</a></li>
            </ul>
        </li>
    </ul>
</nav>
